body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.search-box input {
    padding: 10px;
    width: 70%;
}

.search-box button {
    padding: 10px;
    background: #4facfe;
    color: white;
    border: none;
    cursor: pointer;
}

.weather-card {
    margin-top: 20px;
}

.temp {
    font-size: 40px;
    font-weight: bold;
}

.details {
    display: flex;
    justify-content: space-between;
}